.patient {
    &-info {
        border-radius: 10px !important;
        &_creds {
            text-align: center;
        }

        &_icon {
            cursor: pointer;
            display: flex;
            align-items: center;
            align-content: center;
            justify-content: flex-start;
            svg {
                width: 40px;
            }
            a {
               text-decoration: none;
               color: inherit;
            }
        }
    }

    &_modal {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        background-color: #fff;
        border: 1px solid #000;
        border-radius: 10px;
        box-shadow: 24px;
        padding: 20px;

        &_button {
            display: flex;
            justify-content: flex-end;
        }

        &_btn-stl {
            width: 30%;
        }

        &_textarea {
            height: 200px !important;
            width: 100%;
            margin-top: 20px;
        }
        
        &_textfield,
        &_select {
            width: 100%;
        }

        &_form-control {
            margin-top: 20px !important;
        }

    }
}